<div class="pa-2">
    <section>
        <div class="d-flex align-center ml-4">
            <v-icon>mdi-account-outline</v-icon>
            <b class="ml-2 font-weight-regular">Made By</b>
        </div>
        <v-list-item>
            <v-list-item-action>
                <v-avatar size="50" color="grey lighten-2 ml-1 cursor-pointer">
                    <span class="black--text">GE</span>
                </v-avatar>
            </v-list-item-action>
            <v-list-item-content>
                <v-list-item-title>Guest</v-list-item-title>
                <v-list-item-subtitle>guest@example.com</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
    </section>
    
    <board-description :board="board"></board-description>
</div>