<v-menu
    v-model="opened"
    offset-x
    right
>
    <template v-slot:activator="{ on }">
        <v-list-item link v-on="on">
            Archive this list
        </v-list-item>
    </template>
    <v-card width="300">
        <v-card-title class="pa-1">
            <v-spacer></v-spacer>
            <small>Archive this list?</small>
            <v-spacer></v-spacer>
            <v-btn @click="close" icon>
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="px-3">
            <p>This will remove this list from this board.To view archived lists and bring them back to the board, click "Menu > Archived Items"</p>
            <v-btn 
                block 
                color="red darken-3 white--text" 
                class="text-none" 
                @click="archiveList()"
            >Archive List</v-btn>
        </v-card-text>
    </v-card>
</v-menu>