<v-card width="350">
    <v-card-title class="pa-2">
        <h3 class="mx-auto">Board not found</h3>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text class="pa-2">
        <p class="text-center">This board has not been found.It might have been deleted.You might find the board you are looking for with the other boards.</p>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions class="pa-2">
        <v-spacer></v-spacer>
        <v-btn
            @click="$router.replace('/boards')"
            color="green white--text"
            class="text-none"
            elevation="0"
        >
            View all boards
        </v-btn>
    </v-card-actions>
</v-card>