<section class="d-flex flex-column pa-4">
    <div class="d-flex flex-column">
        <v-text-field
            autofocus
            solo
            dense
            v-model="keyword"
            hide-details="false"
            clearable
        ></v-text-field>
        <p class="mt-2">Type to search by term</p>
    </div>

    <div v-show="cards.length < 1">
        <div class="d-flex flex-column">
            <div @click="searchByLabel(label)" class="d-flex align-center cursor-pointer py-2" v-for="label in labels" v-ripple>
                <div class="rounded " :style="'width: 24px;height: 24px;background: '+label.color"></div>
                <p class="ml-3 my-0">{{ label.name || 'Unnamed' }}</p>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column" v-if="cards.length > 0">
        <card class="mb-2" v-for="card in cards" :editable="false" :card="card"></card>
        <v-btn 
            @click="clearSearch()"
            elevation="0" 
            class="btn-custom-grey">
            Clear search
        </v-btn>
    </div>

    <section v-if="showingNoResultsPrompt" class="w-100" style="height: 200px">
        <div class="d-flex flex-column align-center text-center justify-center fill-height">
            <v-icon size="40">mdi-magnify</v-icon>
            <p class="mt-2">No cards match that term</p>
        </div>
    </section>
</section>