<section class="board d-flex flex-column" style="min-height: 100%;position: relative;">
    <!--Preloader-->
    <v-sheet height="1000" v-show="loading">
        <v-sheet height="600">
            <v-row class="fill-height d-flex align-center justify-center">
                <v-progress-circular
                    indeterminate
                    color="primary"
                ></v-progress-circular>
            </v-row>
        </v-sheet>
    </v-sheet>

    <section v-show="!loading">
        <section v-show="board && !boardIsClosed">
            <board-header :board="board"></board-header>
            <board-body 
                :board="board"
                ref="boardBody"
            ></board-body>
            <board-menu :board="board"></board-menu>
            <router-view></router-view>
        </section>

        <v-sheet height="300" v-show="board && boardIsClosed" style="background-color: transparent;">
            <v-row class="fill-height d-flex align-center justify-center">
                <closed-board-message :board="board"></closed-board-message>
            </v-row>
        </v-sheet>

        <v-sheet height="300" v-show="!board" style="background-color: transparent;">
            <v-row class="fill-height d-flex align-center justify-center">
                <no-board-message></no-board-message>
            </v-row>
        </v-sheet>
    </section>
</section>